html {
    margin : 0;
    padding : 0;
}

body {
    text-align: center;
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    color : #0f0f0f;
}

#div_text_1 {
    font-weight: bold;
    color :#d5d5dd;
    background-color: #000000;
}