html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    align-items: center;
    text-align: center;
    background-image: url('resources/b2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    color: #0f0f0fc9;
    background-color: #d5d5dd;
    border-radius: 10px;
    padding-right: 4px;
    padding-left: 4px;
    margin-left: auto;
}

.div_text {
    padding: 3px;
    margin: 3px;
    border-radius: 10px;
    width: 99%;
    font-weight: bold;
    color: #d5d5dd;
    background-color: #0f0f0fc9;
}

#donate_text {
    color: red;
}

#div_menu {
    width: 99%;
    padding: 5px;
    display: flex;
    flex-direction: inline;
    align-items: flex-end;
}

.menu_link {
    margin: auto;
    color: #000000;
    font-weight: bold;
    padding: 4px;
    border: 1px dotted #0f0f0fc9;
    text-decoration: none;
    background-color: #d5d5dd;
    border-radius: 10px;
}

.menu_link:hover {
    background-color: #0f0f0fc9;
    color: #d5d5dd;
    text-decoration: underline;
}

#div_logo {
    background-color: #0f0f0fc9;
    height: 50px;
    width: 60px;
    margin: 10px;
    padding: 3px;
    border-radius: 10px;
    background-image: url('resources/WWdone.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
}

#div_logo:hover {
    background-color: #d5d5dd;
}

#div_header {
    align-items: center;
    width: 99%;
    background-color: #0f0f0fc9;
    display: flex;
    flex-direction: inline;
    padding: 6px;
    border-radius: 10px;
}

#grid_container {
    width: 99%;
}

.grid_elm {
    width: 17px;
    height: 17px;
    border-radius: 40%;
    background-color: #00ffff63;
    margin: 4%;
    display: inline-grid;
}

.grid_elm:hover {
    background-color: #2f008d63;
    border: #00ffff63 dotted 1px;

}

#div_donate {
    display: none;
}

#quote_list {
    font-size: 10px;
    font-style: italic;
    list-style: none;
    display: inline;
}

#footer {
    background-color: #0f0f0fc9;
    border-radius: 10px;
    margin-top: 15%;
}

#footer_text {
    color: #d5d5dd;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}